<h2>{{title}}</h2>

<a [routerLink]="['/','status','game','1']">Game 1</a> |
<a [routerLink]="['/','status','game','2']">Game 2</a> |
<a [routerLink]="['/','status','game','3']">Game 3</a> <br/><br/>

<table border= '1;'>
    <thead>
      <tr>
        <th>Player's Name</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor='let p of players'>
        <td>{{p.name}}</td>
        <td><button  (click) = "changeStatus(p._id, 'gamethreeStatus', 'playing')" classs='playing' [style.background-color] = 'myColor("playing", p.gamethreeStatus)'>Playing</button>
            <button (click) = "changeStatus(p._id, 'gamethreeStatus', 'notPlaying')" classs='notPlaying' [style.background-color] = 'myColor("notPlaying", p.gamethreeStatus)'>Not Playing</button>
            <button (click) = "changeStatus(p._id, 'gamethreeStatus', 'undecided')" classs='undecided' [style.background-color] = 'myColor("undecided", p.gamethreeStatus)'>Undecided</button></td>
      </tr>
    </tbody>
  </table>

